In [11]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader.data as web
import pandas as pd
import datetime as dt

In [13]:

df = web.DataReader('GE', 'yahoo', start='2019-09-10', end='2019-10-09')

df.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2019-09-10  74.160004  71.199997  71.279999  73.120003  7827150.0  72.313095
2019-09-11  74.879997  72.480003  73.199997  74.879997  7136863.0  74.053665
2019-09-12  76.160004  73.760002  75.199997  74.080002  8514388.0  73.262505
2019-09-13  75.599998  73.120003  74.480003  74.720001  5698675.0  73.975319
2019-09-16  75.360001  73.360001  74.400002  75.040001  5718550.0  74.292137

In [14]:
start = dt.datetime(2010, 1, 29)

end = dt.datetime.today()

actions = web.DataReader('GOOG', 'yahoo-actions', start, end)
actions.head()

           action     value
2015-04-27  SPLIT  0.997262
2014-03-27  SPLIT    0.4995

In [15]:
dividends = web.DataReader('IBM', 'yahoo-dividends', start, end)

dividends.head()

              action     value
2022-05-09  DIVIDEND      1.65
2022-02-10  DIVIDEND      1.64
2021-11-09  DIVIDEND      1.64
2021-08-09  DIVIDEND  1.567878
2021-05-07  DIVIDEND  1.567878